@import url("https://fonts.googleapis.com/css2?family=Geo:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Henny+Penny&family=Quicksand:wght@300..700&display=swap");

:root {
  --Dim-Grey: #6c756b;
  --Cool-Steel: #93acb5;
  --Powder-Blue: #95b9d6;
  --Baby-Blue-Ice: #96c5f7;
  --Icy-Blue: #a9d3ff;
  --Pale-Sky: #d2e6ff;
  --Twilight-Indigo: #1d3354;
}

body {
  font-family: "Geo", Arial, Helvetica, sans-serif;
  font-family: "Quicksand", Arial, Helvetica, sans-serif;

  background-color: #d2e6ff;
  color: #1d3354;
}
  
p {
font family


}

h3 {
  font-family: "Courier New", Courier, monospace;

  font-family: "Geo";
}

#tabela {
  text-align: center;
  color: rgb(13, 108, 139);
  background-color: #a0ccfb;
}

.negrito {
  font-weight: bold;
}

#enviarformulario {
  text-align: center;
  color: #93acb5;
  background-color: var(--Dim-Grey);
}

img {
  height: 200px;
  border-radius: 50%;
}

#nav-sections ul {
 list-style-type: nome;


}

#nav-section li {
dispaly: inline-


}