@import url("https://fonts.googleapis.com/css2?family=Geo:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Henny+Penny&family=Quicksand:wght@300..700&display=swap");

:root {
  --Dim-Grey: #6c756b;
  --Cool-Steel: #93acb5;
  --Powder-Blue: #95b9d6;
  --Baby-Blue-Ice: #96c5f7;
  --Icy-Blue: #a9d3ff;
  --Pale-Sky: #d2e6ff;
  --Twilight-Indigo: #1d3354;
}

/* CSS Resets */


body {
  font-family: "Geo", Arial, Helvetica, sans-serif;
  font-family: "Quicksand", Arial, Helvetica, sans-serif;

  background-color: #d2e6ff;
  color: #1d3354;
}

h3 {
  font-family: "Courier New", Courier, monospace;

  font-family: "Geo";
}

#tabela {
  text-align: center;
  color: rgb(13, 108, 139);
  background-color: #a0ccfb;
}

.negrito {
  font-weight: bold;
}

#enviarformulario {
  text-align: center;
  color: #93acb5;
  background-color: var(--Dim-Grey);
}

img {
  height: 200px;
  border-radius: 50%;
}

#nav-sections ul {
  list-style-type: none;
}

#nav-sections li {
  display: inline-block;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: var(--sky);
  background-color: var(--blue-slat);
  border-radius: 5px;
}

a:hover {
  color: var(--Icy-Blue);
  box-shadow: 0 0 10px var(--Dim-Grey);
}

#nav-links {
  color: var(--Twilight-Indigo);
  ul {
    list-style-type: none;
  }
}
  
.fonte-maior
size